In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('./data/choice_hs300.csv')
df

,date,high,open,low,close,volume,amount
0,2005/1/4,994.770,994.770,980.660,982.794,7.412869e+08,4.431977e+09
1,2005/1/5,997.320,981.580,979.880,992.564,7.119109e+08,4.529208e+09
2,2005/1/6,993.790,993.330,980.330,983.174,6.288029e+08,3.921015e+09
3,2005/1/7,995.710,983.050,979.810,983.958,7.298694e+08,4.737469e+09
4,2005/1/10,993.960,983.760,979.790,993.879,5.791698e+08,3.762933e+09
...,...,...,...,...,...,...,...
3579,2019/9/23,3925.185,3925.185,3868.214,3890.661,9.403622e+09,1.392235e+11
3580,2019/9/24,3927.011,3895.866,3886.140,3901.075,8.778323e+09,1.423414e+11
3581,2019/9/25,3889.839,3887.554,3867.227,3870.983,8.952083e+09,1.332245e+11
3582,2019/9/26,3890.745,3884.702,3840.247,3841.138,1.026983e+10,1.508067e+11
3583,2019/9/27,3859.500,3843.458,3832.246,3852.653,7.400395e+09,1.091305e+11

In [5]:
df['pre_close']=df['close'].shift(1)
df.iloc[0,7]=982.794
df['max_up_p']=(df['high']-df['pre_close'])/df['pre_close']
df['max_down_p']=(df['low']-df['pre_close'])/df['pre_close']
df['close_p']=(df['close']-df['pre_close'])/df['pre_close']
df=df[['close','volume','max_up_p','max_down_p','close_p']]

In [7]:
df.to_csv('./data/hs300_processed.csv')

In [22]:
df1=df
x=[0]
df1.drop(df1.columns[x],axis=1)

            volume  max_up_p  max_down_p   close_p
0     7.412869e+08  0.012186   -0.002171  0.000000
1     7.119109e+08  0.014780   -0.002965  0.009941
2     6.288029e+08  0.001235   -0.012326 -0.009460
3     7.298694e+08  0.012751   -0.003422  0.000797
4     5.791698e+08  0.010165   -0.004236  0.010083
...            ...       ...         ...       ...
3579  9.403622e+09 -0.002659   -0.017135 -0.011431
3580  8.778323e+09  0.009343   -0.001162  0.002677
3581  8.952083e+09 -0.002880   -0.008677 -0.007714
3582  1.026983e+10  0.005105   -0.007940 -0.007710
3583  7.400395e+09  0.004780   -0.002315  0.002998

[3584 rows x 4 columns]

In [18]:
df1.columns[[1,2]]

Index(['volume', 'max_up_p'], dtype='object')